<div class="left_sidebar_bottom_box">
    <div class="bbox_header">
        <i class="icon-telephone-circle iconfont"></i>
        <span>联系我们</span>
    </div>
    <div class="bbox_body">
        <div class="box-telephone">
            <i class="icon-contact_telephone iconfont"></i>
            <span>
                <strong style="letter-spacing: 1px">公司热线:<br></strong>
                <b>183-6887-9756</b>
            </span>
        </div>
        <div class="box-com-det">
            <p class="box-com-det-con" style="color:#333;letter-spacing: 1px"><strong>杭州共携科技有限公司</strong></p>
            <p class="box-com-det-con">联系人：刘经理</p>
            <p class="box-com-det-con">手机：183-6887-9756</p>
            <p class="box-com-det-con">E-mail:18368879756@139.com</p>
            <p class="box-com-det-con">地址：浙江省杭州市萧山区太古广场1幢816室</p>
            <p class="box-com-det-con">网址:www.gongxietech.com</p>
        </div>
    </div>
</div>