{% extends 'cms/base/base.html' %}
{% block title %}
产品一级分类
{% endblock %}

{% block content-header %}
产品分类
{% endblock %}
{% block content-header-small %}
产品一级分类
{% endblock %}
{% block content %}
{#    代码是从https://adminlte.io/themes/AdminLTE/pages/forms/general.html复制的#}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <button id="add-btn" class="btn btn-primary pull-right">添加一级分类</button>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
{#                    thead表示表头，表头中用<tr> <th>#}
                    <thead>
                        <tr>
                            <th>一级分类</th>
                            <th>产品数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
{#                        {% for category in categories_list %}#}
                        {% for category in categories %}
                                <tr  data-id="{{ category.id }}" data-name="{{ category.name }}">
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.num_products }}</td>
                                    <td>
                                        <button class="btn btn-xs btn-warning btn-edit">编辑</button>
                                        <button class="btn btn-danger btn-xs btn-del">删除</button>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/cms/product/top_category.js' %}"></script>
{% endblock %}